<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackademia 2.0</title>
    <link rel="stylesheet" href="../assets/css/home.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Prizes</a></li>
                <li><a href="#">Sponsors</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </nav>
        <h1>HACKADEMIA 2.0</h1>
        <p>2024</p>
    </header>
    <main>
        <section id="what-is-hackademia">
            <h2>What is Hackademia 2.0?</h2>
            <p>Hackademia 2.0 is a 3-day residential hackathon focused on utilizing AI and Data Science to tackle real-world challenges in education. By uniting students, technology enthusiasts, and EdTech startups, the hackathon cultivates a collaborative environment for developing pioneering solutions to real-world educational challenges. Through comprehensive pre-event training, mentorship, and networking opportunities, participants will be aptly equipped to devise impactful technologies that propel teaching practices forward. Embrace this compelling opportunity to revolutionize education and garner recognition for your contributions to the future of learning!</p>
        </section>
        <section id="faq">
            <h2>Frequently Asked Questions</h2>
            <ul>
                <li>
                    <h3>What is a hackathon?</h3>
                    <p>It is an AI-based 3-day residential Hackathon.</p>
                </li>
                <li>
                    <h3>Who can participate in the hackathon?</h3>
                    <p>...</p>
                </li>
                <li>
                    <h3>Is there a registration fee?</h3>
                    <p>...</p>
                </li>
                <li>
                    <h3>Where will the Hackathon take place?</h3>
                    <p>...</p>
                </li>
                <li>
                    <h3>Can I participate if I do not have a team?</h3>
                    <p>...</p>
                </li>
                <li>
                    <h3>When will the hackathon take place?</h3>
                    <p>The hackathon will take place from September 20 to September 22, 2024. Be sure to mark your calendars and stay tuned for more detailed schedules.</p>
                </li>
                <li>
                    <h3>What will happen during the hackathon?</h3>
                    <p>...</p>
                </li>
                <li>
                    <h3>How many participants do we allow?</h3>
                    <p>...</p>
                </li>
            </ul>
        </section>
        <section id="sponsors">
            <h2>Sponsors</h2>
            <ul>
                <li>
                    <img src="../assets//" alt="Daliu Ventures Logo">
                    <p>A INTERNSHIP IN NEPAL</p>
                    <a href="https://internshipinnepal.com">internshipinnepal.com</a>
                </li>
                <li>
                    <img src="programiz-logo.png" alt="Programiz Logo">
                    <p>Join us to Gear Up, where we will be hosting PUBLIC workshops, tech talks, panel discussions, and career sessions!</p>
                </li>
            </ul>
        </section>
        <section id="organizers">
            <h2>Organizers</h2>
            <ul>
                <li>
                    <img src="arun-singh-nepali-profile.png" alt="Arun Singh Nepali Profile">
                    <h3>Arun Singh Nepali</h3>
                    <p>Organizer</p>
                </li>
                <li>
                    <img src="ritik-rimal-profile.png" alt="Ritik Rimal Profile">
                    <h3>Ritik Rimal</h3>
                    <p>...</p>
                </li>
                <li>
                    <img src="sumesh-shrestha-profile.png" alt="Sumesh Shrestha Profile">
                    <h3>Sumesh Shrestha</h3>
                    <p>Organizer</p>
                </li>


                <li>
                    <img src="kepap-profile.png" alt="Kepap Profile">
                    <h3>Kepap</h3>
                    <p>Organizer</p>
                </li>
                <li>
                    <img src="moon-profile.png" alt="Moon Profile">
                    <h3>Moon</h3>
                    <p>Organizer</p>
                </li>
                <li>
                    <img src="ryan-garciu-profile.png" alt="Ryan Garciu Profile">
                    <h3>Ryan Garciu</h3>
                    <p>Organizer</p>
                </li>
            </ul>
        </section>
        <section id="call-to-action">
            <h2>Join us to Gear Up!</h2>
            <p>Where we will be hosting PUBLIC workshops, tech talks, panel discussions, and career sessions!</p>
            <button>Register</button>
            <button>Volunteer</button>
            <button>Contact us</button>
        </section>
    </main>
    <footer>
        <p>Made with ❤️</p>
    </footer>
</body>
</html>